body {
  background-color: #333;
  font-family: 'Crimson Text', serif;
  color: #cea933;
}
.centerdamnit {
  width: 60%;
  margin: 0 auto;
  text-align: center;
}
ul {
  text-align: left;
  padding-left: 35%;
  font-size: 1.3em;
}
h1 {
  margin: 5% 0;
  color: #cea933;
}
h3 {
  font-size: 2em;
  color: #cea933;
}
img {
  margin-top: 13%;
}
.flipright {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  filter: FlipH;
  -ms-filter: "FlipH";
}
